.csv 
.parquet

# data & secrets
data/*
*.parquet
# DO NOT ignore this specific file
!data_bls/integrated_bls_oews_state_year_occ_ecicpi.parquet
*.csv
*.xlsx
*.zip
.env

# dont ignore
!data/CLI/*.xlsx
!data/ECI_XLSX.xlsx


# notebooks noise
.ipynb_checkpoints/

# OS/IDE
.DS_Store
.vscode/

# Python
venv/

# Config
config/*
